<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55243/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="Inventory.WCF.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://localhost:59494/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="Replace.WCF.IService"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:49313/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2" contract="NameService.WCF.IService"
                name="BasicHttpBinding_IService2" />
        </client>
    </system.serviceModel>
</configuration>